:root {
    --black: #5C4B51;
    --blue: #8CBEB2;
    --white: #F2EBBF;
    --orange: #F3B562;
    --red: #F06060;
    --purple: #965882;
    --pink: #E8476D;
    --teal: #449991;
    --babypink: #F0C3D3;
    --font-size: 1.3rem;
    --karla: "Karla", sans-serif ;
    --inconsolata: "Inconsolata";
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

/* Generic page styles */

body {
    padding: 0;
    margin: 0;
    font-family: var(--inconsolata);
    font-size: var(--font-size);
    background-color: var(--black);
    color: var(--white);
}

h1, h2, h3 {
    margin: 0;
}

a {
    color: var(--pink);
}

a:hover {
    color: var(--red);
    text-decoration: none;
}

img {
    width: 100%;
}

/* Background color divs */

.section-blue {
    background-color: var(--teal);
}

.gradient {
    background: linear-gradient(90deg, var(--pink) 0%, var(--orange) 100%);
    height: 2px;
}

/* Intro section */

#intro {
    padding-bottom: 10rem;
}

#intro p {
    font-size: 1rem;
    line-height: 1.5;
}

#intro name {
    font-family: var(--karla);
    font-size: 1rem;
}

.name span {
    font-family: var(--inconsolata);
    font-size: 4rem;
    color: var(--blue);
    display: block;
    font-weight: 300;
}

#intro h2 {
    font-size: 4rem;
}

/* Contact section */

#contact {
    width: 400px;
    text-align: center;
    margin: 0 auto;
    padding: 3rem 0;
}

#contact p:last-child {
    margin-top: 3rem;
}

/* Navigation section */

nav {
    font-size: 80%;
    padding: 1rem;
    font-family: var(--inconsolata);
}

nav h1 a {
    font-family: var(--karla);
}

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

nav li:first-child {
    flex-basis: 100%;
    text-align: center;
}

nav [class*="fa-"] {
    font-size: 150%;
    color: var(--blue);
}

nav h1 [class*="fa-"] {
    font-size: 100%;
    color: var(--blue);
}

nav a {
    color: var(--white);
    text-decoration: none;
    display: block;
}

nav a:hover,
nav [class*="fa-"]:hover {
    color: var(--red);
}

.button {
    background-color: var(--pink);
    color: var(--white);
    padding: 0.5rem 1rem;
    border-radius: 5px;
    text-decoration: none;
}

.button:hover {
    background-color: var(--red);
    color: var(--white);
}

/* Projects section */

#projects {
    padding: 4rem 1rem;
}

#projects h2 {
    font-size: 2.5rem;
    margin-bottom: calc(2.5rem * 1.5);
}

#projects h3 {
    color: var(--orange);
}

#projects h4 {
    font-size: 1rem;
    font-family: var(--karla);
    margin: 0;
}

.blackbox {
    background-color: var(--black);
    padding: 1rem;
    border-radius: 10px;
    color: var(--white);
    font-size: 1rem;
    line-height: 1.5;
}

#projects ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    gap: 1rem;
    font-size: 1rem;
}

#projects img {
    margin: 2rem 0 4rem 0;
    padding: 1rem;
    border-left: 1px solid var(--orange);
    border-top: 1px solid var(--orange);
    border-radius: 25px;
}

/* Footer section */

footer {
    text-align: center;
    padding: 4rem 0;
}

footer ul {
    margin: 2rem 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 3rem;
    font-size: 3rem;
}

@media (min-width: 800px) {
    article {
      display: grid;
      grid-template-columns: repeat(10, 1fr)
    }
    #projects img {
        grid-column: 1/6;
        grid-row:1/2;
    }

    .text {
        grid-column: 5/11;
        grid-row: 1/2;
      order: 2;
      text-align: right;
    }
    #projects ul {
      justify-content: flex-end;
    }

    #projects .reverse .text {
        grid-column: 1/7;
        order: 2;
        text-align: left;
    }

    #projects .reverse img {
        grid-column: 6/11;
        grid-row: 1/2;
    }

    #projects .reverse ul {
        justify-content: flex-start;
    }
    
  }

@media (min-width: 850px) {
    nav {
        max-width: 1200px;
        margin: 0 auto;
    }
    nav li:first-child {
        flex-basis: auto;
        text-align: left;
        margin-right: auto;
    }
}